# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Virtualenv
venv/


# Node
node_modules/

# Entornos privados
backend/.env
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
